<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/home.css' %}">
</head>
<body>
    <h1>this is demo website hosting on AWS</h1>
    <img src="{%static 'img/naru.jpg'%}" alt="Narayan More">

    <img src="{%static 'img/u2.jpg'%}" alt="Shriram ">
    <img src="{%static 'img/u1.jpg'%}" alt="naru">
    <img src="{%static 'img/naru.jpg'%}" alt="Narayan">
    <img src="{%static 'img/naru.jpg'%}" alt="NARU">


</body>
</html>